#ppPopForm {
    display: block;
    opacity: 1;
    position: fixed;
    height: 100%;
    width: 70%;
    left: -70%;
    background: #465667;
    z-index: 9999;
    padding: 20px;
    color: #fff;
    overflow: auto;
}
#ppPopForm h1 {
    margin: 0 0 30px;
}
#ppPopForm h2 {
    font-size: 20px;
    text-transform: none;
    margin: 0 0 20px;
}
#ppCloseForm {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    font-size: 30px;
    color: #FFF;
    background: #333;
    line-height: 50px;
    text-align: center;
    z-index: 999;
}

#ppPopClick {
    background: url('../images/ppPopSprite.png');
    height: 120px;
    width: 25px;
    z-index: 10;
    position: fixed;
    cursor: pointer;
    left: 0;
}
.ppPopText {
    display: block;
    position: relative;
    width: 120px;
    text-align: center;
    color: #eee;
    left: 20px;
    font-weight: bold;
}
#ppPopForm input:focus, #ppPopForm textarea:focus {
    box-shadow: 0 0 5px 1px #fff;
}

@media only screen and (max-width: 680px) {
    #ppPopClick {
        background: url('../images/ppPopSprite-btm.png');
        width: 120px;
        height: 25px;
        z-index: 10;
        position: fixed;
        cursor: pointer;
        margin: 0 auto;
        bottom: 0 !important;
        z-index: 999;
    }
}